@charset "utf-8";
body{
    font-family: 'SUITE', sans-serif;
    background: #333;
    color: #fff;
    position: relative;
}

/* popup */
.popup{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 10;
    left: 0;
    top: -173px;
    display: flex;
    justify-content: center;
    padding: 3846px 0 0 0 ;
}

.popup .btn_close{
    background: url("../images/icon/icon_close.png")no-repeat center center;
    text-indent: -99999px;
    width: 48px;
    height: 48px;
    margin-left: 100px;
    position: absolute;
    left: 1243px;
    top: 3837px;
    z-index: 11;
}

.popup_dining img{
    width: 480px;
    height: 1335px;
}

.popup_spiderman img, .popup_elemental img{
    margin-top: 300px;
    width: 740px;
    height: 230px;
}

.popup_krill img{
    width: 1520px;
    height: 1668px;
}

.popup_krill .btn_close{
    position: absolute;
    left: 1437px;
    top: 3902px;
    z-index: 11;
}

.popup_menu img{
    width: 480px;
    height: 678px;
}

/* header */
header{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    box-sizing: border-box;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
}

header h1 a{
    text-indent: -99999px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/logo/logo.png")no-repeat center center;
}

header ul.gnb{
    display: flex;
    gap: 50px;
}

header ul.gnb li a{
    color: #fff;
    font-weight: 300;
}

.inner{
    width: 1520px;
    margin: 0 auto;
}

/* -----------------------home------------------------------- */
#home{
    text-align: center;
}

#home .inner{
    position: relative;
}

#home .my{
    color: #FFF;
    font-size: 100px;
    font-weight: 300;
    margin-top: 180px;
}

#home h2{
    color: #FFF;
    font-size: 260px;
    font-weight: 300;
    position: relative;
}

#home h2::before{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
}

#home .slogan{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin: 40px 0;
    line-height: normal;
}

#home .arrow{
    margin-top: 40px;
    width: 40px;
    height: 40px;
    animation: ani_arrow 3s ease infinite;
    position: absolute;
    z-index: 5;
}

@keyframes ani_arrow{
    0%{margin-top: 30px;}
    50%{margin-top: 50px;}
    100%{margin-top: 30px;}
}

/* 구름 */
#home .cloud1{
    position: absolute;
    right: 263px;
    top:1000px;
}

#home .cloud2{
    position: absolute;
    left: 0;
    top: 1477px;
}

#home .cloud3{
    position: absolute;
    right: 0;
    top:1700px;
}

#home .introduce{
    width: 100%;
    height: 200px;
    margin: 650px 0;
    padding-top: 80px;
    box-sizing: border-box;
    position: relative;
}

#home .introduce .mark_start{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#home .introduce .mark_end{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

#home .introduce p{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2.8px;
}

/* ----------------------about----------------------------- */
#about{
    margin-top: 493px;
}

#about .inner{
    position: relative;
}

#about h2{
    color: #FFF;
    font-family: GangwonEduPower;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    display: inline-flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    background: #555;
    border-radius: 20px 20px 0px 0px;
}

#about .card{
    width: 1520px;
    display: flex;
    height: 801px;
    padding: 90px 260px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #555;
    border-radius: 0px 100px 100px 100px;
}

#about .entire{
    display: flex;
}

#about ul.left{
    margin-top: 36px;
}

#about ul.left li{
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
}

#about ul.left li:first-child{
    margin-bottom: 0;
}

#about ul.right{
    margin-top: 36px;
}

#about ul.right li{
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 0 20px;
}

#about ul.right li:first-child{
    margin-bottom: 0;
}

#about .skill h3{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

#about ul.program li{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

#about ul.program li:last-child{
    margin-bottom: 0;
}

/* stick */
#about ul.program li .stick{
    width: 415px;
    height: 20px;
    background: #BFCFEA;
    border-radius: 20px;
    text-indent: -99999px;
}

#about ul.program li .stick_html span{
    display: block;
    width: 0;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    transition: width ease 3s;
}

#about ul.program li .stick_js span{
    display: block;
    width: 0;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    transition: width ease 3s;
}

#about ul.program li .stick_jq span{
    display: block;
    width: 0;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    transition: width ease 3s;
}

#about ul.program li .stick_vue span{
    display: block;
    width: 0;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    transition: width ease 3s;
}

/* -------------------------motion------------------------------- */
.motion {
    /* border: 1px solid red; */
    height: 200px;
    font-size: 100px;
    font-weight: 900;
    color: #333;
    /* -webkit-text-stroke: calc(0.005em + 3px) #BFCFEA; */
    margin: 200px 0 400px 0;
    position: relative;
}

/* ------------------------work---------------------------- */
#work{
    position: relative;
}

/* 탭메뉴 */
#work ul.tab{
    width: 657px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 90px 79px 0 0;
    box-sizing: border-box;
    z-index: 2;
    background: #333;
}

#work ul.tab li{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 45px;
    margin-left: 410px;
    cursor: pointer;
    text-align: left;
    position: relative;
}

#work ul.tab li.on::after{
    content: '';
    background: #5980C3;
    width: 247px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    animation: underline .5s ease-in-out;
}

@keyframes underline{
    0%{left: -410px;}
    100%{left: 0px;}
}

/* slider */
.slider{
    width: 100%;
    height: 408px;
    margin-top:228px ;
    /* border: 1px solid aqua; */
}

.slick-slide{
    max-width: 725px;
    height: 408px;
}

.slick-slider img{
    border-radius:16px;
    margin: 0 auto;
    width: 483px; 
    height: 270px;
}

.slick-center{
    width: 100%;
    height: 100%;
}

.slick-center img{
    width: 604px;
    height: 338px;
}

/* 제목 커스텀 */
.slider h3{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
    opacity: 0;
}

.slick-center h3{
    opacity: 1;
}

.slider h3 span{  
    color: #5980C3;
    font-size: 50px;
    margin-right: 10px;
}

/* 페이지버튼 커스텀 */
.slick-dots{
    position: absolute;
    display: flex;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom:-80px;
}

.slick-dots button{
    width: 40px;
    height: 13px;
    text-indent: -99999px;
    border-radius: 16px;
    background: #fff;
}

.slick-active button{
    width: 80px;
    height: 13px;
    background: #5980C3;
}

/* 화살표 커스텀 */
.slick-arrow{
    z-index: 2;
    width: 48px;
    height: 48px;
    width: 48px;
    height: 48px;
    text-indent: -99999px;
}

.slick-prev{
    position: absolute;
    left: 725px;
    bottom:-90px;
    background: url("../images/icon/icon_slidearrow_left.png")no-repeat center center;
}

.slick-next{
    position: absolute;
    bottom: -90px;
    right:725px;
    background: url("../images/icon/icon_slidearrow_right.png")no-repeat center center;
}

/* front */
.front{
    height: 408px;
    margin-left: 660px;
}
.front .item h3{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}
.front .item h3 span{  
    color: #5980C3;
    font-size: 50px;
    margin-right: 10px;
}
.front .item a img{
    width: 604px;
    height: 338px;
    border-radius:16px;
}

/* ---------------------------contact----------------------------- */
#contact{
    border-top:4px solid #fff;
    margin-top: 200px;
    padding: 200px ;
    box-sizing: border-box;
}

#contact h2{
    font-size: 200px;
    font-weight: 900;
    margin-bottom: 100px;
    position: relative;
}

#contact h2::before{
    content: '';
    width: 1000px;
    height: 12px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 211px ;
}

#contact ul.adress{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contact ul.adress li{
    position: relative;
}

#contact ul.adress li a{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2.8;
}

#contact ul.adress li::before{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: all 0.5s ease-in-out ;
}

#contact ul.adress li:hover::before{
    width: 100%;
}

/* --------------------------footer----------------------- */
footer{
    height: 60px;
    border-top: 1px solid #555;
    padding: 20px;
    box-sizing: border-box;
}
footer p{   
    text-align: center;
    color: #555;
    font-size: 16px;
}