@charset "utf-8";

body{
    font-family: 'SUITE', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    box-sizing: border-box;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 10000;

    position: fixed;
    left: 0;
    top: 0;
}

header h1 a{
    text-indent: -99999px;
    display: block;
    width: 72px;
    height: 32px;
    background: url("../images/logo/logo_zion.png")no-repeat;
}

header ul.gnb{
    display: flex;
    gap: 50px;
}

header ul.gnb li a{
    color: #fff;
    font-weight: 500;
}

.inner{
    width: 1100px;
    margin: 0 auto;
}

/* -------------------------section1-------------------------- */
#home{
    background: url("../images/bg/cloud.png")no-repeat;
    background-size: cover;
    text-align: center;
}

#home .my{
    color: #FFF;
    font-size: 80px;
    font-weight: 300;
    margin-top: 250px;
}

#home h2{
    color: #FFF;
    font-size: 190px;
    font-weight: 300;
}

#home .line{
    background: #fff;
    width: 1100px;
    height: 3px;
    position: absolute;
    left: 50%;
    top: 530px;
    transform: translateX(-50%)
}

#home .slogan{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin: 50px 0;
}

#home .arrow{
    position: absolute;
    margin-top: 40px;
    top: 75%;
    width: 40px;
    height: 40px;
    animation: ani_arrow 3s ease infinite;
}

@keyframes ani_arrow{
    0%{top: 75%;}
    50%{top: 77%;}
    100%{top: 75%;}
}

/* -------------------------about---------------------------- */
#about{
    background: #fff;
    position: relative;
}

#about .inner{
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    z-index: 10;
    height: 100%;
}

#about .inner h2{
    color: #333;
    font-size: 50px;
    font-weight: 700;
    margin-top: 150px;
    text-align: center;
}

#about .inner .photo{
    margin-top: 40px;
}

#about .inner .entire{
    display: flex;
}

#about .inner ul.left{
    margin-top: 35px;
}

#about .inner ul.left li{
    color:#333;
    font-size: 18px;
    font-weight: 500;
    margin-top: 33px;
}

#about .inner ul.left li:first-child{
    margin: 0;
}

#about .inner ul.right{
    margin-top: 30px;
}

#about .inner ul.right li{
    color: #333;
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0 0 37px;
}
#about .inner ul.right li:first-child{
    margin-top: 0;
}

#about .inner p.intro{
    color: #333;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2.8px;

    position: absolute;
    left: 360px;
    top: 400px;
    z-index: 1;
}

#about .inner h3{
    color: #333;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 23px;
}

#about .inner .skill{
    width: 720px;
    position: absolute;
    right: 0;
    top: 540px;
}

#about .inner .skill .wrap_program{
    display: flex;
    gap: 40px;
}

#about .inner .skill .wrap_program ul.program li{
    margin-bottom: 10px;
}

#about .inner .skill .wrap_program ul.program li:last-child{
    margin: 0;
}

/* stick */
#about ul.program li{
    display: flex;
    gap: 10px;
    align-items: center;
}

#about ul.program li .stick{
    width: 275px;
    height: 20px;
    background: #BFCFEA;
    border-radius: 20px;
    text-indent: -99999px;
}
#about.active ul.program li .stick_html span{
    display: block;
    width: 90%;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    animation: ani_html 3s ease forwards;
}

#about.active ul.program li .stick_js span{
    display: block;
    width: 90%;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    animation: ani_js 3s ease forwards;
}

#about.active ul.program li .stick_jq span{
    display: block;
    width: 90%;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    animation: ani_jq 3s ease forwards;
}

#about.active ul.program li .stick_vue span{
    display: block;
    width: 90%;
    height: 18px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #BFCFEA;
    background: #5980C3;
    border-radius:20px ;
    animation: ani_vue 2s ease forwards;
}

@keyframes ani_html{
    0%{width:0;}
    100%{width:90%;}
}
@keyframes ani_js{
    0%{width:0;}
    100%{width:40%}
}
@keyframes ani_jq{
    0%{width:0;}
    100%{width:50%}
}
@keyframes ani_vue{
    0%{width:0;}
    100%{width:60%}
}


#about.active .bg_about{
    width: 300%;
    position: absolute;
    left: 0;
    bottom: 50px;
    display: flex;
}

#about .bg_about p{
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: calc(0.005em + 3px) #BFCFEA;
}

/* -------------------------work--------------------------- */
#work{
    background: #333;
}

#work .inner{
    position: relative;
    border: 1px solid red;
    z-index: 20;
}

#work ul.tab{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 235px;
    padding-top: 126px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 578px;
    height: 526px;
    z-index: 10;
    background: #333;
    border: 1px solid #fff;
}

#work ul.tab li{
    position: relative;
    text-align: left;
    margin-left: 410px;
}

#work ul.tab li.on::after{
    content: '';
    background: #5980C3;
    width: 296px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    animation: border 1s ease;
}

@keyframes border{
    0%{left: -410px;}
    100%{left: 0px;}
}

#work ul.tab li a{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 45px;
}

/* slider */
.slider{
    width: 100%;
    margin-top:228px ;
    border: 5px solid slateblue;
}
.slider div{
    height: 526px;
    /* background: skyblue; */
}

/* .slider_p div h3{
    color: #fff;
    z-index: 15;
    font-size: 70px;
    font-weight: 800;
}

.slider_p div h3 span{  
    color: #5980C3;
    font-size: 50px;
    margin-right: 15px;
} */



.slick-slide{
    /* background: silver; */
    /* border: 1px solid #5980C3; */
    margin-right: 45px;
    margin-left: 45px;
    
}

.slick-slider img{
    border-radius:16px ;
    margin: 20% 10% 0 10%;
    width: 80%;
    height: 80%;
}

.slick-center{
    width: 725px;
    /* background: salmon;
    border: 5px solid red; */
}

.slick-center img{
    width: 100%;
    height: 100%;
    margin: 0;
}

/* 페이지버튼 커스텀 */
.slick-dots{
    position: absolute;
    display: flex;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom:-80px;
}

/* 화살표 커스텀 */
.slick-arrow{
    z-index: 10;
    width: 48px;
    height: 48px;
}
.slick-prev{
    position: absolute;
    left: 762px;
    bottom:-90px;
}
.slick-next{
    position: absolute;
    bottom: -90px;
    right:762px;
}


/* -------------------------section4--------------------------- */
#contact{
    background: url("../images/bg/bg_contact.png")no-repeat;
    background-size: cover;
}

#contact .inner h2{
    color: #333;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;
    text-align: center;
}

#contact .inner .outro{
    width: 1100px;
    height: 622px;
    margin-top: 40px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
}

#contact .inner .outro .outro_in{
    border: 4px solid #fff;
    padding: 80px;
    border-radius: 8px;
}

#contact .inner h4{
    color: #333;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#contact .inner h5{
    color: var(--unnamed, #5980C3);
    font-family: SUITE;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#contact .inner .wrap_contact{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 190px;
}

#contact .inner .wrap_contact .icon{
    text-align: center;
}

#contact .inner .wrap_contact .icon img{
    margin-bottom: 15px;
}
#contact .inner .wrap_contact .icon p{
    margin-bottom: 10px;
}