@charset "utf-8";

body{
    font-family: 'SUITE', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    box-sizing: border-box;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 10000;

    position: fixed;
    left: 0;
    top: 0;
}

header h1 a{
    text-indent: -99999px;
    display: block;
    width: 72px;
    height: 32px;
    background: url("../images/logo/logo_zion.png")no-repeat;
}

header ul.gnb{
    display: flex;
    gap: 50px;
}

header ul.gnb li a{
    color: #fff;
    font-weight: 500;
}

.inner{
    width: 1100px;
    margin: 0 auto;
}

/* -------------------------section1-------------------------- */
#home{
    background: url("../images/bg/cloud.png")no-repeat;
    background-size: cover;
    text-align: center;
}

#home .my{
    color: #FFF;
    font-size: 80px;
    font-weight: 300;
    line-height: normal;
    margin-top: 315px;
}

#home h2{
    color: #FFF;
    font-size: 200px;
    font-weight: 300;
    line-height: normal;
}

#home .line{
    background: #fff;
    width: 1100px;
    height: 3px;
    position: absolute;
    left: 50%;
    top: 630px;
    transform: translateX(-50%)
}

#home .slogan{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 50px;
}

#home .arrow{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background: url("../images/icon/arrow.png") no-repeat center;
}

/* -------------------------section2---------------------------- */
#about{
    background: #fff;
    position: relative;
}

#about .inner{
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    z-index: 10;
    height: 100%;
}

#about .inner h2{
    color: #333;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;
    text-align: center;
}

#about .inner .photo{
    margin-top: 92px;
}

#about .inner .entire{
    display: flex;
}

#about .inner ul.left{
    margin-top: 25px;
}

#about .inner ul.left li{
    color:#333;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-top: 33px;
}

#about .inner ul.right{
    margin-top: 30px;
}

#about .inner ul.right li{
    color: #333;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0 0 37px;
}

#about .inner p.intro{
    color: #333;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    position: absolute;
    left: 610px;
    top: 400px;
    z-index: 1;
}

#about .inner .cloud{
    position: absolute;
    left: 493px;
    top: 334px;
}

#about .inner h3{
    color: #333;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 23px;
}

#about .inner .skill{
    border: 1px solid green;
    width: 720px;

    position: absolute;
    right: 0;
    top: 609px;
}

#about .inner .skill .wrap_program{
    display: flex;
}

#about .inner .skill .wrap_program ul.program li{
    margin-bottom: 10px;
}

#about .inner .skill .wrap_program ul.program li:last-child{
    margin: 0;
}

#about .bg_about{
    width: 100%;
    height: 350px;
    background: #BFCFEA;
    position: absolute;
    left: 0;
    top: 235px;
}

/* -------------------------section3--------------------------- */
#section3{
    background: #333;
}
/* -------------------------section4--------------------------- */
#contact{
    background: url("../images/bg/bg_contact.png")no-repeat;
    background-size: cover;
}

#contact .inner h2{
    color: #333;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;
    text-align: center;
}

#contact .inner .outro{
    width: 1100px;
    height: 622px;
    margin-top: 40px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
}

#contact .inner .outro .outro_in{
    border: 4px solid #fff;
    padding: 80px;
    border-radius: 8px;
}

#contact .inner h4{
    color: #333;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#contact .inner h5{
    color: var(--unnamed, #5980C3);
    font-family: SUITE;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#contact .inner .wrap_contact{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 190px;
}

#contact .inner .wrap_contact .icon{
    text-align: center;
}

#contact .inner .wrap_contact .icon img{
    margin-bottom: 15px;
}
#contact .inner .wrap_contact .icon p{
    margin-bottom: 10px;
}