/* 노트북 */
@media (min-width:1024px) and (max-width:1278px){

.inner{
    width: 1080px;
}

#home .my{
    font-size: 70px;
}

#home h2{
    font-size: 190px;
}

#home .slogan{
    font-size: 40px;
    margin: 20px 0;
}

#home .cloud1{
    top: 876px;
}

#home .cloud2{
    top: 1300px;
}

#home .cloud3{
    top: 1495px;
}

#about .card{
    width: 1080px;
    height: 801px;
    border-radius: 0px 25px 25px 25px;
    padding: 90px 95px;
}

#about .left img{
    width: 333px;
}

#work ul.tab{
    width: 430px;
    height: 500px;
    padding: 111px 0 0 0;
    box-sizing: border-box;
}
#work ul.tab li{
    padding: 0 0 0 232px;
    box-sizing: border-box;
    margin-left: 0;
}

#work ul.tab li.on::after{
    width: 100%;
}

.slick-slide{
    width: 450px;
}

.slick-slide img{
    width: 332px;
    height: 186px;
}

.slick-center{
    width: 519px;
}

.slick-center img{
    width: 100%;
    height: 100%;
}

.slider h3{
    font-size: 30px;
    margin-bottom: 40px;
}

.slick-prev{
    position: absolute;
    left: 404px;
    bottom:-90px;
    background: url("../images/icon/icon_slidearrow_left.png")no-repeat center center;
}

.slick-next{
    position: absolute;
    bottom: -90px;
    right:404px;
    background: url("../images/icon/icon_slidearrow_right.png")no-repeat center center;
}

.front{
    margin: 228px 0 0 473px;
}

.front .item h3{
    font-size: 30px;
}

.front .item a img{
    width: 393px;
    height: 221px;
}


}

/* 모바일 */
@media (min-width:320px) and (max-width:768px){
    
    header{
        padding: 0;
    }

    header h1{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    header ul.gnb{
        display: none;
    }

    .inner{
        width: 332px;
    }

    #home .my{
        font-size: 30px;
    }

    #home h2{
        font-size: 50px;
    }

    #home h2::before{
        height: 2px;
    }

    #home .slogan{
        font-size: 16px;
        margin: 20px 0;
        letter-spacing: -0.16px;
        white-space: normal;
    }

    #home .arrow{
        width: 24px;
        height: 24px;
        margin-top: 10px;
    }

    #home .cloud1{
        width: 86px;
        right: 70px;
        top:478px;
    }

    #home .cloud2{
        width: 86px;
        top: 765px;
    }

    #home .cloud3{
        width: 86px;
        top: 821px;
    }

    #home .introduce{
        margin: 400px 0;
    }

    #home .introduce .mark_start{
        width: 24px;
    }

    #home .introduce .mark_end{
        width: 24px;
    }

    #home .introduce p{
        font-size: 18px;
        letter-spacing: 0px;
        line-height: normal;
    }

    #about h4{
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px 10px 0px 0px;
    }

    #about .card{
        width: 335px;
        height: 550px;
        border-radius: 0px 25px 25px 25px;
        padding: 40px 10px;
        display: block;
    }

    #about img{
        width: 88px;
        float: left;
        margin: 0 20px 0 0;
    }

    #about ul.left{
        margin-top: 10px;
    }

    #about ul.left li{
        font-size: 14px;
        margin-top:10px ;
    }

    #about ul.right{
        margin-top:10px ;
        float: right;
    }

    #about ul.right li{
        font-size: 14px;
        margin: 10px 0 0 10px;
    }

    #about .skill{
        margin-top: 40px;
        padding:  0;
    }
    #about .skill h3{
        font-size: 16px;
        margin-bottom: 10px;
    }

    #about ul.program li img{
        width: 24px;
    }

    #about ul.program li .stick{
        height: 10px;
    }

    #about ul.program li .stick span{
        height: 8px;
    }

    #work ul.tab{
        width: 335px;
        height: 25px;
        left: 50%;
        transform: translateX(-50%);
        background: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    #work ul.tab li{
        font-size: 15px;
        margin: 0;
        letter-spacing: -0.6px;
    }

    #work ul.tab li.on::after{
        width: 100%;
        bottom: 0;
    }

    .slick-slider img{
        width: 100%;
        height: 165px;
        opacity: 0;
    }

    .slick-center img{
        opacity: 1;
    }

    .slider h3{
        font-size: 20px;
        margin-top: 100px;
        text-align: center;
        opacity: 1;
    }

    .slider h3 span{
        font-size: 20px;
    }

    .slick-dots button{
        width: 20px;
        height: 6px;
    }

    .slick-active button{
        width: 40px;
    }

    .slick-arrow{
        width: 24px;
        height: 24px;
    }

    .slick-prev{
        left: 47px;
        bottom: -80px;
    }

    .slick-next{
        right: 47px;
        bottom: -80px;
    }

    .front{
        margin: 228px 40px 0 40px;
        position: relative;
    }

    .front .item h3{
        text-align: center;
        font-size: 20px;
        padding-top: 100px;
    }

    .front .item h3 span{
        font-size: 20px;
    }

    .front .item a img{
        width: 295px;
        height: 165px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #contact{
        padding: 100px 0;
        border: none;
    }

    #contact h2{
        font-size: 50px;
        margin-bottom: 20px;
    }

    #contact h2::before{
        width: 100%;
        height: 3px;
        top: 50px;
    }

    #contact ul.adress{
        display: block;
    }

    #contact ul.adress li{
        font-size: 14px;
        margin-bottom: 10px;
    }

    footer{
        font-size: 13px;
        padding: 10px 20px;
        letter-spacing: -0.6px;
    }
}